body {
	background: #333;
}

ul {
	list-style: none;
	padding: 0;
}

.btn {
	background: #D7D7D7;
	color: #666;
	font-weight: bold;
	box-shadow: none;
}

a {
	-webkit-transition: background 0.3s, color 0.3s;
}

a:hover {
	text-decoration: none;
	-webkit-transition: background 0.3s, color 0.3s;
}

.container {
	max-width: 1054px;
}

/* HEADER */

.header {
	background: #EEE;
	overflow: hidden;
}

.header h1 {
	float: left;
	margin: 25px 0;
}

.header h1 a {
	background: url(logo.png) no-repeat;
	width: 388px;
	height: 41px;
	text-indent: -9999px;
	display: block;
}

.header ul.buttons {
	float: right;
	margin: 25px 0;
}

.header ul.buttons li {
	float: left;
	margin-left: 10px;
}

.header ul.buttons a {
	display: block;
	background: #D7D7D7;
	color: #666;
	font-weight: bold;
	border-radius: 4px;
	font-size: 16px;
	line-height: 40px;
	padding: 0 18px;	
}

.header ul.buttons a:hover {
	background: #C7C7C7;
}

/* NAVIGATION */

.navigation {
	overflow: hidden;
	clear: left;
	margin: 0;
}

.navigation li {
	float: left;
	margin-right: 5px;
}

.navigation a {
	display: block;
	background: #D7D7D7;
	color: #666;
	font-weight: bold;
	border-radius: 4px 4px 0 0;
	font-size: 16px;
	line-height: 40px;
	padding: 0 18px;
}

.nav-tabs {
	border-bottom: 0px;	
}

.nav-tabs>li.active>a:hover, .navigation a:hover, .nav-tabs>li>a:hover {
	background: #666;
	color: white;
	background-color: #666;
	border: 1px #666;
}

.nav-tabs > li > a {
    border: 1px transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li.active, .nav-tabs>li.active>a:focus, .navigation a.active {
	background: #666;
	color: white;
	background-color: #666;
	border: 1px transparent;
}

.navigation a.save {
	background: #52c255;
	color: white;
}

.navigation a.save:hover {
	background: #32a235;
}


/* SUBNAVIGATION */

.subnavigation {
	border-radius: 0 0 4px 4px;
	background: #666;
	overflow: hidden;
	margin: 0 0 40px 0;
}

.subnavigation li {
	float: left;
}

.subnavigation a {
	display: block;
	font-size: 16px;
	line-height: 40px;
	padding: 0 18px;
	color: #CCC;
	font-size: 14px;
}

.subnavigation a:hover,
.subnavigation a.active {
	color: #FFF;
}


/* OPTIONS */

.options h4 {
	font-size: 20px;
	line-height: 25px;
	color: white;
	font-weight: bold;
	margin: 0;
	margin-top: 50px;
	float: left;
	width: 16.66666%;
}

.options ul {
	overflow: hidden;
	margin: 0 0 50px 0;
	float: right;
	width: 83.333333%;
}

.options li {
	width: 20%;
	float: left;
	position: relative;
	padding-top: 50px;
}

.options label {
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	color: #CCC;
	margin-bottom: 8px;
	overflow: hidden;
	position: absolute;
	bottom: 32px;
}

.options input {
	border: none;
	box-shadow: none;
	width: 95%;
	font-size: 16px;
}

.options .color-picker {
	position: absolute;
	right: 14px;
	bottom: 5px;
	height: 24px;
	width: 24px;
	background: transparent url(colorpicker.png) no-repeat;
	
}


/* PREVIEW */

.preview {
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	display: block;
	border: 0;
	background: #444;
	margin-bottom: 100px;
}

.form-group label {
	display: block;
}

tbody tr {
	cursor: pointer;
}